

body {
    background-color: #2e4070;
    margin: 0;
    display:flex;
    
  }
  
  h3 {
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    background-color: rgb(7, 110, 136);
    color: #f1f1f1;
  }
  h2 {
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(5, 91, 148);
    color: #f1f1f1;
  }
  header {
    position: sticky;
    top: 0;
  }
  
  table, td, th {
      border: 1px solid #1c7091;
      border-collapse: collapse;
  
  }
  
  td, th {
      padding: 8px;
  }
  
  tr:hover, tr:hover, tr:nth-child(odd):hover {
    background-color: rgb(4, 72, 199);
    color: white;
  }
  
  th {
      background-color: rgb(1, 95, 150);
      color: aliceblue;
  }
  
  tr:nth-child(odd) {
      background-color: rgba(221, 221, 221, 0.808);
  }
  
  .center {
      margin: auto;
      width: 100%;
      border: 3px solid rgb(0, 34, 128);
      padding: 10px;
    }
  
    /*      DropDown    */
  
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    
    /* Style the header */
    .header {
      background-color: #f1f1f1;
      padding: 0px;
      text-align: center;
    }
    
    /* Style the top navigation bar */
    .topnav {
      overflow: hidden;
      background-color: rgb(64, 75, 235);
      position: sticky;
      top: 0;
    }
    
    /* Style the topnav links */
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change color on hover */
    .topnav a:hover {
      background-color: rgb(101, 114, 238);
      color: rgb(255, 255, 255);
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      padding: 0px;
    }
    
    /* Left and right column */
  .column.side {
      width: 40%;
      position: sticky;
      top: 46px;
    }
    
    /* Middle column */
    .column.middle {
      width: 20%;
      position: fixed;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width:600px) {
      .column {
        width: 100%;
      }
    }
  
    div img {
      width: 100%;
      height: 200px;
    }
  
    
  
  
    /* Side NAV */
  
    .sidenav {
      overflow: hidden;
      background-color:  rgb(29, 0, 82);
      position: sticky;
      top: 0;
      height:90%;
      width:75%;
  }
  
  .sidenav a {
      padding: 6px 8px 6px 16px;
      border-color: #f1f1f1;
      text-decoration: none;  
      font-size: 20px;
      color: #ffffff;
      display: block;
  }
  
  .sidenav a:hover {
    background-color:  rgb(54, 0, 155);
    color: #f1f1f1;
  }
  
  .main {
      margin-left: 160px; /* Same as the width of the sidenav */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
  }
  
  
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  
  /*
  /* +================= FORM =====================
  /*                                                  */
  
  * {
    box-sizing: border-box;
  }
  
  input[type=text],
  [type="date"],
  [type="email"],
  [type="number"],
  [type="password"],
   select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 8px;
    display: inline-block;
  }
  
  input[type=submit],
  input[type=submit]{
    background-color: rgb(39, 85, 172);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #455ea1;
  }

  
  .container {
    border-radius: 5px;
    background-color: #dfedff;
    padding: 20px;
    width: 400px;

    margin: auto;
  }
  
  .col-25 {
    float: left;
    width: 40%;
    margin-top: 4px;
  }
  
  .col-75 {
    float: left;
    width: 60%;
    margin-top: 4px;
  }
  
  .col-10 {
    float: left;
    width: 10%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    color: rgb(0, 0, 0);
    text-align-last: right;
    position: fixed;
    bottom: 0;
    width: 100%;
  }